@media screen and (max-width:420px) {

.container{
    width: 90%;
}
.itims-left{
    width: 100%;
}
.menu-edc{
    font-size: 8.9vw;
}
.hotbar{
    width: 28vw;
}
.menu-img
{
    width: 10.2vw;
}
.menu-text{
    font-size: 5vw;
}
header{
    margin: 7.7vw 0 8.3vw;
}
.section-blok{
    width: 75vw;
}
.section-text{
    font-size: 6.1vw;
}
.section-number{
    font-size: 6.1vw;
}
.insider{
    display: flex;
    width: 82.5vw;
    margin-top: 3.9vw;
    margin-bottom: 6.7vw;
}
.insider p{
    font-size: 3.8vw;
    line-height: 150%;
    color: #1F1F1F;
    font-family: 'Inter', sans-serif;
}
.section-two{
    flex-direction: column;
    height: 409.7vw;
    margin-top: 6.7vw;
}
.blok-one{
    width: auto;
    height: 117.7vw;
    margin-right: 0;
    margin-bottom: 4.5vw;
}
.blok-two{
    width: auto;
    height: 100.3vw;
    margin-bottom: 4.5vw;
}
.blok-four{
    width: auto;
    height: 71.1vw;
    padding-top: 1px;
    padding-right: 0;
}
.item-h{
    font-size: 4.4vw;
    margin: 5.8vw 0 0 7.2vw;
}
.item-backcolor li{
    font-size: 3.3vw;
    margin: 4.4vw 4.7vw 0 7.2vw;
}
.menu-three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.three-blok{
    width: 100%;
    margin-bottom: 4.2vw;
    height: 66.1vw;
    display: flex;
    flex-direction: column;
}
.three-blok div{
    width: 66.4vw;
    display: flex;
}
.three-numbers{
    font-size: 13vw;
    margin-right: 4.4vw;
}
.three-text{
    font-size: 4.3vw;
}
.item-right{
    width: auto;
}
.section-img{
    display: none;
}
.menu-login{
    display: none;
}
.items-center{
    display: none;
}
.section-map{
    display: none;
}
footer{
    display: none;
}

}