*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 84%;
    margin: 0 auto;
}

/* Общие настройки */

header{
    margin: 1.9vw 0 0.4vw;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-three{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insider{
    display: none;
}
.itims-left{
    width: 12.27vw;
}
.menu-edc{
    font-weight: bold;
    font-size: 1.6vw;
    line-height: 130%;
    color: #C51103;
}
.hotbar{
    width: 5.2vw;
}
.menu-img
{
    width: 1.9vw;
}
.menu-text{
    font-size: 0.9vw;
    line-height: 150%;
    color: #999999;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.items-center{
    width: 33.6vw;
}
.menu-nombers{
    width: 11vw;
}
.menu-nomber{
    width: 15.96vw;
}
.nombers-cifru{
    font-weight: bold;
    font-size: 1.2vw;
    line-height: 130%;
    color: #82B2A2;
    margin-bottom: 0.2vw;
}
.nombers-text{
    font-size: 0.8vw;
    line-height: 130%;
    color: #999999;
    font-family: 'Inter', sans-serif;
}
.jump-text{
    display: block;
}

.font{
    font-family: 'Inter', sans-serif;
}
.menu-login{
    width: 10.28vw;
    height: 3.3vw;
    background-color: #FFFFFF;
    border: 0.05vw solid #82B2A2;
    font-size: 0.8vw;
    padding: 0 2vw 0;
    font-family: 'Inter', sans-serif;
}

/* Шапка сайта */

.section-blok{
    width: 34.8vw;
}
.section-text{
    font-weight: bold;
    font-size: 2.9vw;
    line-height: 130%;
    color: #1F1F1F;
}
.section-number{
    font-weight: bold;
    font-size: 2.9vw;
    line-height: 130%;
    color: #82B2A2;
    display: block;
}
.section-img{
    width: 45.2vw;
} 

/* Секция с крупным текстом и телефоном */

.section-two{
    display: flex;
    align-items:stretch;
    height:33.8vw;
    margin-bottom: 3.75vw;
}
.item-right{
    width: 54.7vw;
}

.blok-one{
    width: 26.5vw;
    height: 33.8vw;
    margin-right: 1.7vw;
}

.blok-two{
    width: 26.5vw;
    height: 18.8vw;
    margin-bottom: 1.7vw;
}
.blok-four{
    height: 13.3vw;
    padding-top: 1px;
    padding-right: 30.25vw;
}

.item-h{
    font-weight: bold;
    font-size: 1.25vw;
    line-height: 130%;
    color: #1F1F1F; 
    margin: 1.7vw 1.4vw 0 2.1vw;
}
.item-backcolor{
    background: #F2F7F6;
}

.item-backcolor li{
    font-size: 0.9vw;
    line-height: 150%;
    color: #1F1F1F;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    margin: 1.25vw 1.5vw 0 2.1vw;
}

/* Секция с блоками из списков */

.three-blok{
    width: 59.2vw;
    margin: 0 auto;
    margin-bottom: 4.2vw;
}
.three-blok div{
    width: 15vw;
}
.three-numbers{
    font-weight: bold;
    font-size: 2.9vw;
    line-height: 130%;
    color: #82B2A2;
    margin-right: 1vw;
}
.three-text{
    font-weight: bold;
    font-size: 0.9vw;
    line-height: 150%;
    color: #1F1F1F;
    font-family: 'Inter', sans-serif;
}

/* Секция со статистикой */

.section-map{
    border-top: 0.05vw solid #C0E4E4;
    border-bottom: 0.05vw solid #C0E4E4;
    margin-bottom: 2.7vw;
}
.map-blok{
    margin: 2.5vw 0 1.7vw;
}
.map-h{
    font-weight: bold;
    font-size: 1.9vw;
    line-height: 130%;
    color: #1F1F1F;
}
.map-text{
    font-size: 0.9vw;
    line-height: 140%;
    color: #999999;
    width: 20.7vw;
    font-family: 'Inter', sans-serif;
}
.img-map{
    width: 83vw;
    margin-bottom: 3.4vw;
}

/* Секция с картой */

.blok-edc{
    width: 20.4vw;
}
.text-edc-footer{
    font-size: 0.9vw;
    line-height: 140%;
    color: #1F1F1F;
    width: 14vw;
    font-family: 'Inter', sans-serif;
}
.footer-edc{
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 130%;
    color: #C51103;
}

.footer-icon{
    width: 1.24vw;
}
.footer-spravka{
    margin-bottom: 3.3vw;
    margin-top: 3.5vw;
}

/* Подвал */

